.banner {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba($color-dark, 0.3),
      rgba($color-dark, 0.3)
    ),
    url("/src/images/hero16.jpg");
  background-size: cover;
  background-position: center;

  &__navbar {
    &_items {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_logo {
        font-size: 3.2rem;
        font-weight: 700;
        color: $color-light;
        margin: 2rem 0;
      }
    }
  }

  &__intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &_items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-light;
        margin-bottom: 2rem;

        &_big {
          font-size: 10rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }
        &_small {
          font-size: 2.5rem;
          width: 60%;
          text-align: center;
          margin-bottom: 1rem;
        }
      }

      &_form {
        display: flex;
        align-items: center;
        width: 90%;

        & input,
        & button {
          flex-basis: 25%;
          margin: 1rem;
          padding: 2rem 3rem;
          height: 5rem;
          border-radius: 0.6rem;
          font-size: 1.2rem;
        }

        & input {
          background: rgba($color-light, 0.3);
          font-size: 1.5rem;
          color: $color-light;
        }
        & button {
          background: $primary-blue;
          color: $color-light;
          transition: all 0.2s;
          font-weight: 700;

          &:hover {
            background: rgba($primary-blue, 0.9);
          }
        }
      }
    }
  }
}
