.testimonial {
  position: relative;

  &__items {
    display: flex;
    align-items: center;
    padding-top: 6rem;
    width: 100%;

    &_photo {
      flex-basis: 50%;
    }

    &_text {
      flex-basis: 50%;

      &_speech {
        font-style: italic;
        color: $color-gray;
        font-size: 2.5rem;
        line-height: 1.5;
        margin-bottom: 3rem;
      }

      &_name {
        font-size: 1.4rem;
        font-weight: 700;
        margin: 1rem;
      }

      &_position {
        @include smallCapitalLetter;
        color: $color-dark;
      }
    }
  }
}
