.testimonial {
  position: relative;

  &__items {
    display: flex;
    align-items: center;
    padding-top: 6rem;
    width: 100%;

    @media screen and (min-width: 0px) and (max-width: 800px) {
      flex-direction: column-reverse;
    }

    &_photo {
      flex-basis: 50%;
      width: 50%;

      @media screen and (min-width: 0px) and (max-width: 800px) {
        width: 100%;
      }
    }

    &_text {
      flex-basis: 50%;
      width: 50%;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 0px) and (max-width: 800px) {
        width: 100%;
        align-items: center;
        justify-content: center;
      }

      &_speech {
        font-style: italic;
        color: $color-gray;
        font-size: 2.5rem;
        line-height: 1.5;
        margin-bottom: 3rem;

        @media screen and (min-width: 0px) and (max-width: 800px) {
          text-align: center;
        }
      }

      &_name {
        font-size: 1.4rem;
        font-weight: 700;
        margin: 1rem;
      }

      &_position {
        @include smallCapitalLetter;
        color: $color-dark;
      }
    }
  }
}
